.completed {
  background-color: rgb(27, 185, 237);
}

.completed:hover {
  background-color: rgb(8, 151, 199);
}

.notCompleted {
  background-color: rgb(212, 42, 42);
}

.notCompleted:hover {
  background-color: rgb(177, 17, 17);
}
