<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <img
      src="https://static-00.iconduck.com/assets.00/todo-icon-1024x1024-7nszgsj6.png"
      alt="logo"
      class="logo"
    />
    <button
      (click)="show = !show"
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: show }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/completed" routerLinkActive="active"
            >Completed Tasks</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
