.row span i {
  font-size: 40px;
  color: black !important;
  padding: 0 0.5rem;
}

.row span i:hover {
  background-color: red;
}

.col p a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.col p a:hover {
  color: #e50914;
}
